@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,600,700');

body  { margin: 0; }

[class^="area"]	{ box-sizing: border-box; height: 700px; padding: 50px; color: #fff; font: bold 18px helvetica, arial; background-attachment: fixed; background-size: cover; }
	.area1	{ background-image: url("../images/area2b.jpg"); }
	.area2	{ background-image: url("../images/area6b.jpg"); }
	.area3	{ background-image: url("../images/area4b.jpg"); }
	/*.area4	{ background-image: url("../images/area4b.jpg"); }
	.area5	{ background-image: url("../images/area5b.jpg"); }*/
	
	/*pueden ser9*/
	
	header {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	font-family: Oswald, Verdana,  sans-serif;
	font-weight:300;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
	
	border-bottom:solid 1px rgba(0,0,0,0.0);
	}
	header nav {
	float:right;
	}
	h1{font-family:Oswald, Verdana,  sans-serif; font-weight:400; padding-bottom:10px;}
	h2{font-family:Oswald, Verdana,  sans-serif; font-weight:300; padding-bottom:10px;}
	h3{font-family:Oswald, Verdana,  sans-serif; font-weight:200; padding-bottom:10px;}
#mainmenu ul {
	float: right;
	margin: 0px 0px;
	padding: 0px 0px;
	height: 30px;
	}
	
	#mainmenu li {
	    margin: 0px 1px;
	padding: 0px 0px;
	float: left;
	display: inline;
	list-style: none;
	position: relative;
	    border-bottom:solid 1px #dcddde;
    border-radius: 3px;
	    background: #dcdddead;
	 -webkit-transition: background 2s; /* Safari */
    transition: background 2s;
	}
	#mainmenu li:hover {
	
		background:#808285;
	}
		
	#mainmenu a {
	display: inline-block;
	padding: 25px 20px 25px 20px;
	line-height: 35px;
	text-decoration: none;
	text-align:center;
	outline:none;
	color:#808285;
	font-size: 20px;
    text-transform: uppercase;
	 -webkit-transition: color 2s; /* Safari */
    transition: color 2s;
	}
	#mainmenu a:hover { color:#dcddde;}
	
	
	
	/*#mainmenu li a:after { position:relative;    content: "|";    font-size: 14px; margin-left:20px; margin-top:0px; color:#FAB702; } */
	
	#mainmenu li li a {
	padding: 2px 15px 2px 15px;
	background: #222327;
	border-top: none;
	color: #ccc;
	width:201px;
	border-left:none;
	text-align:left;
	}
	
	#mainmenu li li a:hover{
	color:#111;
	}
	#mainmenu li ul {
	width: 201px;
	height: auto;
	position: absolute;
	top: 80px;
	left: 0px;
	z-index: 1;
	visibility:hidden;
	opacity:0;
	margin-top:5px;
	}
	div#logo{
	    margin-left: 3%;
		margin-top:7px;
	}
	header div#logo a{
	display:table-cell;
    vertical-align:middle;
	}
	header div#logo {
	display: table;
	height: 80px;
	float: left;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s; 
	}
	#reinscripcion{
		z-index:100;
		position: relative;
		/**/
    top: 80px;
	}
	#continuar{
		z-index:100;
		position: relative;
		/*analizar para evitar error de doble ventana*/
    top: 80px;
	}
#footer {background: rgba(0,0,0,0.85);color:#fff;letter-spacing: 0.1rem;padding:0;/*margin-top:100px;*/font-size: 0.9rem; }
#footer a {color:#A9A9A9; -webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
#footer a:hover {color:#E0E0E0}

#footer .footer-logo {max-width:200px;width: 100%; display: inline-block;margin-bottom: 2rem;}
.footext{padding:60px;}
#footer-bottom{    background: #808285;}

	.centrado{
	
	
	    left: 20%;
    top: 80vh;
    font-size: 20px;
    /* text-align: center; */
    position: relative;
    /* text-transform: uppercase; */
    /* background: #8bc34a9c; */
    /* padding: 40px; */
    color: #808285;}
	@media only screen and (max-width: 767px) {
	
	}
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	
	}
	
	@media only screen and (max-width: 480px) {
	
	
	}