.formulario
{
	
	
     padding-right: 20px;
   
}
body{	font-family:  Verdana,  sans-serif;}
.fondo1
{

	 /* display: inline-block;
	width: 30%;
   
    height: 800px;*/
	position:static;
	background: url(../images/estudiantev.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	height:auto;
}
.contenedor{

    position: static;
padding: 80px 80px 80px 40px;
	 /*display: inline-block;
    
       
   float: right;
	width: 60%;*/
	  
}
.agrupacion{
width: 100%;
    height: auto;
    border: 1px #9e9e9e5c solid;
    padding: 10px;
    margin: 10px 0px;
}
.info{display:table;font-family:Oswald, Verdana,  sans-serif; }

@media only screen and (max-width: 767px) {
	
	}
	
@media only screen and (min-width: 480px) and (max-width: 767px) {
	/*.fondo1
{

	  display: none;
	
}
.contenedor{
	
    width: 100%;
     
}*/

}

@media only screen and (max-width: 480px) {
	.fondo1
{

	  display: none;
	
}
.contenedor{
	
    width: 100%;
     
}

}