﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Reinscripcion.aspx.cs" Inherits="SIL_Montrer.Reinscripcion" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SIL Nueva</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Sistema de inscripciones en línea Montrier" />
    <meta name="keywords" content="universidad, prepa, maestría, doctorado, morelia, en linea, michoacán, méxico, Montrer" />
    <meta name="author" content="EUTECO" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/inicial.css" />
    <link rel="stylesheet" href="build/css/intlTelInput.css" />
    <link rel="stylesheet" href="build/css/demo.css" />

</head>
<body>
    <form id="form1" runat="server">

        <!-- Menú incio --------------------------------------------------------------------------->
        <header class="transparent">
            <div class="row">
                <div class="col-md-12">
                    <!-- logo inicio -->
                    <div id="logo">
                        <a href="Default.aspx">
                            <img class="logo" src="images/logo.png" alt="Logo universidad montrer" />
                        </a>
                    </div>
                    <!-- logo fin -->

                    <!-- small button inicio -->
                    <span id="menu-btn"></span>
                    <!-- small button fin -->

                    <!-- mainmenu inicio -->
                    <nav>
                        <ul id="mainmenu">
                            <li><a href="Default.aspx" class="active">Inicio</a>

                            </li>


                        </ul>
                    </nav>

                </div>
                <!-- mainmenu fin -->

            </div>
        </header>

        <!-- Menú fin --------------------------------------------------------------------------->
        <div class="row">
            <div class="fondo1 col-0 col-md-4"></div>
            <div class="contenedor col-12 col-md-8">
                <h1>Reinscripción</h1>
                <form class="needs-validation formulario" novalidate>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Nombre</label>

                            <label class="info" id="nombre" name="nombre">Nombre</label>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Primer apellido</label>
                            <label class="info" id="apellido1" name="apellido1">Apellido</label>
                        </div>

                    </div>
                    <div class="form-row">


                        <div class="col-md-6 mb-3">
                            <label for="">Segundo Apellido</label>

                            <label class="info" id="apellido2" name="apellido2">Apellido</label>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustomUsername">*E-mail</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend"><i class="far fa-envelope"></i></span>
                                </div>
                                <input type="email" name="email" class="form-control" id="validationCustomUsername" placeholder="yo@mimail.com" aria-describedby="inputGroupPrepend" required>
                                <div class="invalid-feedback">
                                    No puede dejar este campo en blanco, verifique que su email esté bien escrito
                                </div>
                                <div class="valid-feedback">
                                    Este mail tendrás que verificarlo para llevar a cabo el próximo paso del proceso
                                </div>
                            </div>
                        </div>


                    </div>


                    <div class="form-row">


                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">*Telefono de casa o celular</label>
                            <input class="form-control" id="phone" type="tel" placeholder="0000-000-000" required>
                            <div class="invalid-feedback">
                                No puede dejar este campo en blanco
                            </div>
                            <div class="valid-feedback">
                                Bien
                            </div>


                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">*Código postal</label>
                            <input class="form-control" id="cp" name="cp" type="number" required>
                            <div class="invalid-feedback">
                                No puede dejar este campo en blanco
                            </div>
                            <div class="valid-feedback">
                                Bien
                            </div>


                        </div>




                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">*Número</label>
                            <input type="text" class="form-control" id="num" name="num" placeholder="Exterior e interior" value="" required>
                            <div class="invalid-feedback">
                                No puede dejar este campo en blanco
                            </div>
                            <div class="valid-feedback">
                                Bien
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">*Dirección (calle / colonia) </label>
                            <textarea rows="2" class="form-control" id="direccion" name="direccion" value="" required></textarea>
                            <div class="invalid-feedback">
                                No puede dejar este campo en blanco
                            </div>
                            <div class="valid-feedback">
                                Bien
                            </div>
                        </div>

                    </div>
                    <div class="agrupacion">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label>Plantel</label>
                                    <label class="info" id="plantel" name="plantel">Plantel</label>
                                </div>

                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label>Nivel</label>
                                    <label id="nivel" name="nivel" class="info">Nivel</label>
                                </div>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label>Modalidad</label>
                                    <label id="modalidad" name="modalidad" class="info">Modalidad</label>
                                </div>

                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label>Oferta Educativa</label>
                                    <label class="info" id="oferta" name="oferta">Oferta Educativa</label>
                                </div>

                            </div>
                        </div>


                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label>Periodo al que ingresará</label>
                                    <label class="info" id="periodo" name="periodo">Periodo</label>
                                </div>

                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label>Ciclo Escolar al que se inscribe</label>
                                    <label class="info" id="ciclo" name="ciclo">Ciclo</label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <p>*Obligatorio Actualizar estos campos</p>
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </form>
            </div>
        </div>

        <!-- INICIO FOOTER -->
        <footer id="footer">
            <div id="footer-main" class="container-large">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footext">
                            <h3>Dudas o aclaraciones </h3>


                            <p><i class="far fa-envelope"></i><a href="mailto:serviciosescolares@unimontrer.edu.mx">serviciosescolares@unimontrer.edu.mx</a></p>
                            <p><i class="fas fa-phone"></i><a class="fblanca" href="tel:(+52 443) 324-04-39" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Llámanos">(+52 443) 324-04-39</a></p>
                            <p><i class="fas fa-phone-volume"></i><a class="fblanca" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Extención">Extención: 187</a></p>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="footext">

                            <img width="200" height="50" class="footer-logo" src="images/logo.png" alt="logo">
                        </div>
                    </div>

                </div>
            </div>
            <div id="footer-bottom">
                <div class="cr">
                    <div class="row">
                        <div class="col-sm-12 t-center">
                            <p class="copyright fblanca">© EUTECO. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- FIN FOOTER -->


        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <!-- Load jQuery from CDN so can run demo immediately -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="build/js/intlTelInput.js"></script>
        <script>
            $("#phone").intlTelInput({
                // allowDropdown: false,
                // autoHideDialCode: false,
                // autoPlaceholder: "off",
                // dropdownContainer: "body",
                // excludeCountries: ["us"],
                // formatOnDisplay: false,
                geoIpLookup: function (callback) {
                    $.get("http://ipinfo.io", function () { }, "jsonp").always(function (resp) {
                        var countryCode = (resp && resp.country) ? resp.country : "";
                        callback(countryCode);
                    });
                },
                // hiddenInput: "full_number",
                initialCountry: "auto",
                // nationalMode: false,
                // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
                placeholderNumberType: "Móvil",
                preferredCountries: ['mx', 'co', 'gu'],
                // separateDialCode: true,
                utilsScript: "build/js/utils.js"
            });
        </script>

    </form>
</body>
</html>
